<form action="/user/create" method="POST" onsubmit="submitForm(this); return false;">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="Username" name="username" required>
    </div>
    <label>Password:</label>
    <div>
        <input type="password" id="psw" class="form-control" minlength="6" placeholder="Password" name="password"
            required>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be longer than 6 characters.
        </small>
    </div>

    <br>
    <label>Confirm Password:</label>
    <div>
        <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_psw" name="comfirm_pwd"
            required>

        <small id="passwordHelpBlock" class="form-text text-muted">
            Must be same as the password you input above.
        </small>

    </div>
    <br>
    <label>Email address:</label>
    <input type="email" class="form-control" placeholder="Email address" id="email" name="email" required>

    <br>

    <button type="submit" class="btn btn-default">Submit</button>


    <script>
            function submitForm(oFormElement) {
                var xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (this.responseText == "create successfully") {
                        window.location = "/user/welcome";
                    }
                    else {
                        alert(xhr.responseText);
                    }
                }
                xhr.open(oFormElement.method, oFormElement.action, true);
                xhr.send(new FormData(oFormElement));
                return false;
            }
        </script>
</form>