<div class="container-fluid text-center">
    <br>

    <div class="row content">
        <!--============================left-->
        <div class=" card col-sm-3 sidenav  " width="18rem">
            <img class="card-img-top img-thumbnail" src="https://image.freepik.com/free-icon/personal-mail_318-46969.jpg" alt="Card image cap">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name</li>
                <li class="list-group-item">Email</li>
                <li class="list-group-item">Phone Number</li>
                <li class="list-group-item">Gender</li>
                <li class="list-group-item">Age</li>
                <li class="list-group-item">
                    <!-- <button type="button" class="btn btn-success btn-lg btn-block">Time Table</button> -->
                    <a class="btn btn-outline-success btn-lg btn-block" href="/user/vol_ttb" role="button">Time Table</a>
                </li>
                <li class="list-group-item">
                    <!-- <button type="button" class="btn btn-secondary btn-lg btn-block">Update infomation</button> -->
                    <a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">Update infomation</a>
                </li>
            </ul>

        </div>
        <div class="col-sm-7 text-left">

            <h1 class="p-3 mb-2 bg-info text-white"> Your award </h1>
            <div class="row">
                <div class="card border-light  col-12 col-sm-6 col-lg-4 col-xl-3">
                    <img class="card-img" src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1088097/1160/772/m1/fpnw/wm0/award-ribbons-flat-icon-01-.jpg?1458057059&s=1dacd557d0902f35753d3b2a57425def" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
                <div class="card border-light   col-12 col-sm-6 col-lg-4 col-xl-3 ">
                    <img class="card-img" src="http://www.aafsfl.org/uploads/5/7/8/0/5780701/s324222675859668953_p18_i1_w1280.jpeg" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
                <div class="card border-light  col-12 col-sm-6 col-lg-4 col-xl-3 ">
                    <img class="card-img" src="https://commsbusiness.co.uk/wp-content/uploads/2015/12/award-good-job.jpeg" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
                <div class="card border-light  col-12 col-sm-6 col-lg-4 col-xl-3 ">
                    <img class="card-img" src="https://midlandsandlancashirecsu.nhs.uk/images/icons/award.png" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>




                <div class="card border-light  col-12 col-sm-6 col-lg-4 col-xl-3">
                    <img class="card-img" src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1088097/1160/772/m1/fpnw/wm0/award-ribbons-flat-icon-01-.jpg?1458057059&s=1dacd557d0902f35753d3b2a57425def" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
                <div class="card border-light   col-12 col-sm-6 col-lg-4 col-xl-3 ">
                    <img class="card-img" src="http://www.aafsfl.org/uploads/5/7/8/0/5780701/s324222675859668953_p18_i1_w1280.jpeg" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
                <div class="card border-light  col-12 col-sm-6 col-lg-4 col-xl-3 ">
                    <img class="card-img" src="https://commsbusiness.co.uk/wp-content/uploads/2015/12/award-good-job.jpeg" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
                <div class="card border-light  col-12 col-sm-6 col-lg-4 col-xl-3 ">
                    <img class="card-img" src="https://midlandsandlancashirecsu.nhs.uk/images/icons/award.png" alt="">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Award Name</h5>

                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">See Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Event1</td>
                        <td>Date1</td>
                        <td><button type="button" class="btn btn-success">Detail</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Event2</td>
                        <td>Date2</td>
                        <td><button type="button" class="btn btn-success">Detail</button></td2 </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Event3</td>
                                <td>Date3</td>
                                <td><button type="button" class="btn btn-success">Detail</button></td>
                            </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-2 sidenav">

            <h3>About Me</h3>
            <p>I am a alovely, talktive and out going girl. I love xxx xxx xxx xxx xxx xxx xxx </p>
            <hr>
        </div>
    </div>

</div>