<form action="/photo/search?" method="POST"></form>
<table class="table">
        <% photo.forEach( function(photo) { %>
            <tr><td><%= photo.username %></td><td><%= photo.description %></td></tr>
        <% }); %>
    </table>